*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 50%;
    max-width: 800px;
    min-width: 350px;
    margin: 0 auto;
}

h1{
    align-items: center;
    text-align: center;
    color: white;
    background-color: red;
    border-radius: 5px;
}

.instrucoes{
    background-color:rgba(255, 255, 0, 0.418);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
}

.ultimoResultado{
    color: rgb(255, 255, 255);
    padding: 3px;
}

.envioPalpite{
   
    margin: 15px 0 15px 0;
    border: none;
    background-color: rgb(253, 104, 4);
    color: white;
    border-radius: 5px;
    padding: 15px;
    font-size: 12pt;
    font-weight: bold;
    cursor: pointer;
}


